	my ($sec,$min,$hour,$mday,$mon,$year,$wday,$yday,$isdst)=localtime(time);
	my @months_full = qw(January February March April May June July August September October November December);
	my $date_full = sprintf("%s %d, %d", $mo_full[$mon], $mday, $year+1900);
