	# following line will load $days_byname hash key by abbreviations (and full names of days of the week if defined).
	my %days_byname;
	foreach my $day (0 .. $#days) { $days_byname{$days[$day]}=$day; $days_byname{$days_full[$day]}=$day if (@days_full); }
