	#!/usr/bin/perl
	# A perl script to ${1:#SCRIPT_DESCRIPTION}
	$name = $0; $name =~ s'.*/''; # remove path--like basename
	$usage = "usage:\n$name [-${2:opt1}] [-${3:opt2}] [-${4:opt3}]";
	use warnings;
	use strict;
	${5:# body ...}
	exit 0;
	__END__
