20120305.diff
4733.patch
.bash_history
.bash_logout
bin/
.byobu/
by-server/
.cache/
Checkout@
.config/
.cpan/
.dbus/
Desktop/
.dmrc
Documents/
Downloads/
.esd_auth
examples.desktop
files.edited
files_from_2012-01-09
.filezilla/
.fontconfig/
.gconf/
.gegl-0.0/
.gitignore
.gnome2/
GNUstep/
.gtk-bookmarks
.gvfs/
.history
host switch
hosts.20111206
hosts.20120202
.ICEauthority
.lesshst
.local/
Manta/
MantaDev@
.mission-control/
mount.vboxsf.notes
.mozilla/
my.patch
nametag.txt
nodejs/
.node_libraries/
parkers.tgz*
Pictures/
production.sales.past_articles
.profile
Public/
.pulse/
.pulse-cookie
.rpn_history
SalesTax.pm@
sbx-mgr-prod/
ShoppingCart@
Skipjack/
.subversion/
.sudo_as_admin_successful
svn/
svn.commands
Templates/
.tmux.conf
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
Videos/
.viminfo
.viminfo.old
vim_plugins.tgz
.Xauthority
.xsession-errors
