	# double {{}} allows next
	# surrounding LOOP: BLOCK allows last and redo
	LOOP: {
		do {{
			redo if ${1:redo_condition};
			next if ${2:next_condition};
			last if ${3:last_condition};
			${4:# body...}
		}} while ${5:while_condition};
	}
