	# following line will load $months_byname hash key by abbreviations (and full month names if defined).
	my %months_byname;
	foreach my $month (0 .. $#months) { $months_byname{$months[$month]}=$month; $months_byname{$months_full[$month]}=$month if (@months_full); }
