	# First character is at offset 0
	# OFFSET negative             == that far from the end of the string.
	# no LENGTH                   == everything to the end of the string.
	# negative LENGTH is negative == leaves that many characters off the end of the string.
